VITE_FIREBASE_API_KEY=AIzaSyBWkIRVrPzOCQGSVqZ0ZNUls3f0FNvnq0M
VITE_FIREBASE_AUTH_DOMAIN=moneysaaver.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=moneysaaver
VITE_FIREBASE_STORAGE_BUCKET=moneysaaver.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=596349504981
VITE_FIREBASE_APP_ID=1:596349504981:web:ad06d4ec321891735e815c
VITE_FIREBASE_MEASUREMENT_ID=
